node_modules/

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

package-lock.json
package.json

ai_model/datasets/ai_diet_workout_dataset.csv
ai_model/scaler.pkl
ai_model/knn_model.pkl
ai_model/feature_columns.pkl

__pycache__/
*.pyc 
*.pyo
*.pyd

.vscode/

.DS_Store
Thumbs.db 